{% extends "catalog_app/base.html" %}
{% load crispy_forms_tags %}

{% block content %}
   <div class="content-section">
        <form action="" method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Reset Password</legend>
                <input type="text" name="username" placeholder="username here...">
                <br />
                <input type="password" name="password" placeholder="New password">
                <br />
                <input type="password" name="confirm_password" placeholder="Confirm your password...">
                <br />
                <input type="text" name="token" placeholder="Token here">
                <br />
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">submit</button>
            </div>
        </form>
    </div>
{% endblock content %}